<%= File.read('boilerplate_top.html') %>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Field Name: Scenario Name</h1>
			<h2>2014 As-Applied Planting</h2>
			<img src="./reports_files/applied_planting_map.png" class="img-responsive" alt="As Applied Planting Map">

		</div>
	</div>
</div>

<%= File.read('boilerplate_bottom.html') %>
