<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">

    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <title></title>

    <link href="./css/libs/bootstrap.min.css" rel="stylesheet">
    <script src="./js/libs/modernizr-2.7.1.min.js"></script>

    <link href="./css/main.css" rel="stylesheet">

</head>
<body>
<div class="container">
	<div class="row">
	  <div class="col-xs-3 text-left ">
		  <img src="./reports_files/300&text=CompanyLogo" class="logo" alt="Company Logo">
	  </div>
	  <div class="col-xs-6 text-center">
		  <img src="./reports_files/300&text=ReportImage" class="logo" alt="Report Logo">
	  </div>
	  <div class="col-xs-3 text-right">
		  <img src="./reports_files/300&text=ProductLogo" class="logo" alt="Product Logo">
	  </div>
  </div>
</div>

<script src="./js/libs/jquery-2.1.0.min.js"></script>
<script src="./js/libs/bootstrap.min.js"></script>

</body>
</html>
