<%= File.read('boilerplate_top.html') %>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Field Name: Scenario Name</h1>
			<h2>2013 Revenue and Expenses with Management Zones</h2>

			<table class="table table-bordered">
				<tbody>
					<tr class="success">
						<td><h3>Revenue</h3></td>
						<td class="col-xs-1 text-center">Current</td>
						<td class="col-xs-1 text-center">w/ zones</td>
						<td class="col-xs-1"></td>
					</tr>
					<tr class="success">
						<td>Commodity Price</td>
						<td class="text-right">8.30</td>
						<td class="text-right">8.30</td>
						<td>$/bu</td>
					</tr>
					<tr class="success">
						<td>Other Revenue</td>
						<td class="text-right">12.00</td>
						<td class="text-right">8.30</td>
						<td>$/acre</td>
					</tr>
					<tr class="success">
						<td class="text-right"><strong>Total Revenue</strong></td>
						<td class="text-right">852.00</td>
						<td class="text-right">852.00</td>
						<td>$/acre</td>
					</tr>
				</tbody>
			</table>
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td><h3>Expenses</h3></td>
						<td class="col-xs-1 text-center">Current</td>
						<td class="col-xs-1 text-center">w/ zones</td>
						<td class="col-xs-1"></td>
					</tr>
					<tr>
						<td>Equipment</td>
						<td class="text-right">8.30</td>
						<td class="text-right">8.30</td>
						<td>$/acre</td>
					</tr>
					<tr>
						<td>Seed</td>
						<td class="text-right">103.00</td>
						<td class="text-right">8.30</td>
						<td>$/acre</td>
					</tr>
					<tr>
						<td>Fertilizer</td>
						<td class="text-right">103.00</td>
						<td class="text-right">8.30</td>
						<td>$/acre</td>
					</tr>
					<tr>
						<td>Herbicide/Insecticide</td>
						<td class="text-right">103.00</td>
						<td class="text-right">8.30</td>
						<td>$/acre</td>
					</tr>
					<tr>
						<td>Insurance</td>
						<td class="text-right">103.00</td>
						<td class="text-right">8.30</td>
						<td>$/acre</td>
					</tr>
					<tr>
						<td>Seed</td>
						<td class="text-right">103.00</td>
						<td class="text-right">8.30</td>
						<td>$/acre</td>
					</tr>
					<tr>
						<td class="text-right"><strong>Total Expenses</strong></td>
						<td class="text-right">212.00</td>
						<td class="text-right">222.00</td>
						<td>$/acre</td>
					</tr>
				</tbody>
			</table>
			<table class="table table-bordered">
				<tbody>
					<tr class="success">
						<td class="text-right"><strong>Total Profit</strong></td>
						<td class="col-xs-1 text-right"><strong>56.00</strong></td>
						<td class="col-xs-1 text-right"><strong>56.00</strong></td>
						<td class="col-xs-1"><strong>$/acre</strong></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<%= File.read('boilerplate_bottom.html') %>
