<%= File.read('boilerplate_top.html') %>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Field Name: Scenario Name</h1>
			<h2>Yield by Soil Type</h2>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Map Unit Symbol</th>
						<th>2011 CG yield (bu/ac)</th>
						<th>2012 SB yield (bu/ac)</th>
						<th>2013 CG yield (bu/ac)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>171B</td>
						<td>186</td>
						<td>42</td>
						<td>155</td>
					</tr>
					<tr>
						<td>171B</td>
						<td>186</td>
						<td>42</td>
						<td>155</td>
					</tr>
					<tr>
						<td>171B</td>
						<td>186</td>
						<td>42</td>
						<td>155</td>
					</tr>
					<tr>
						<td>171B</td>
						<td>186</td>
						<td>42</td>
						<td>155</td>
					</tr>
					<tr>
						<td>171B</td>
						<td>186</td>
						<td>42</td>
						<td>155</td>
					</tr>
					<tr>
						<td>171B</td>
						<td>186</td>
						<td>42</td>
						<td>155</td>
					</tr>
					<tr>
						<td>171B</td>
						<td>186</td>
						<td>42</td>
						<td>155</td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
</div>

<%= File.read('boilerplate_bottom.html') %>
