/*****-----------------------------------------------*/
/*	Variables
/*****-----------------------------------------------*/
/*****-----------------------------------------------*/
/*	Architecture
/*****-----------------------------------------------*/
body {
  background-color: #ffffff;
  font-size: 14px;
}
/* Header
/* --------------------------------------------------*/
/* Footer
/* --------------------------------------------------*/
/* Global Tags
/* --------------------------------------------------*/
/* Global Components
/* --------------------------------------------------*/
.table tbody tr th,
.table tbody tr td,
.table thead tr th,
.table thead tr td {
  border-color: #008000;
}
.table-striped tbody tr:nth-child(odd) th,
.table-striped tbody tr:nth-child(odd) td {
  background-color: #d0d0d0;
}
.table-borderless tbody tr th,
.table-borderless tbody tr td {
  border-top: none;
}
.table-small thead tr td,
.table-small thead tr th {
  font-size: 12px;
}
.table-small tfoot tr td,
.table-small tfoot tr th {
  font-size: 12px;
}
.table-small tbody tr td,
.table-small tbody tr th {
  font-size: 12px;
}
/*****-----------------------------------------------*/
/*	Pages
/*****-----------------------------------------------*/
.logo {
  max-height: 100px;
}
th div {
  font-weight: normal;
  margin-top: 1em;
}
.rowSpacer {
  margin-bottom: 1em;
}
/***** Homepage
/*-----------------------------------*/
/***** Soils
/*------------------------------------*/
.legendGreen,
.table-striped tbody tr:nth-child(odd) td.legendGreen {
  background-color: #66ff33;
}
.legendOrange,
.table-striped tbody tr:nth-child(odd) td.legendOrange {
  background-color: #ff6600;
}
.legendRed,
.table-striped tbody tr:nth-child(odd) td.legendRed {
  background-color: #cc0000;
}
.legendYellow,
.table-striped tbody tr:nth-child(odd) td.legendYellow {
  background-color: #ffff00;
}
