/*****-----------------------------------------------*/
/*	Variables
/*****-----------------------------------------------*/
/*****-----------------------------------------------*/
/*	Architecture
/*****-----------------------------------------------*/
body {
  background-color: #ffffff;
  font-size: 14px;
}
/* Header
/* --------------------------------------------------*/
/* Footer
/* --------------------------------------------------*/
/* Global Tags
/* --------------------------------------------------*/
/* Global Components
/* --------------------------------------------------*/
/*****-----------------------------------------------*/
/*	Pages
/*****-----------------------------------------------*/
.logo {
  max-height: 100px;
}
th div {
  font-weight: normal;
  margin-top: 1em;
}

@media print {
           thead {display: table-header-group;}
       }
/***** Homepage
/*-----------------------------------*/
/***** Fields
/*------------------------------------*/
