/*****-----------------------------------------------*/
/*	Variables
/*****-----------------------------------------------*/
/*****-----------------------------------------------*/
/*	Architecture
/*****-----------------------------------------------*/
body {
  background-color: #ffffff;
  font-size: 13px;
}
/* Header
/* --------------------------------------------------*/
/* Footer
/* --------------------------------------------------*/
/* Global Tags
/* --------------------------------------------------*/
/* Global Components
/* --------------------------------------------------*/
.eros-frame {  
  height: 265px;
  width: 265px;
  position: relative;
}

.budget-frame {  
  height: 250px;
  width: 250px;
  position: relative;
}

.aerial-frame {  
  height: 630px;
  width: 550px;
  position: relative;
}

.dem-legend-frame {
  height: 630px;
  width: 65px;
  position: relative;
}

.table tbody tr th,
.table tbody tr td,
.table thead tr th,
.table thead tr td {
  border-color: #008000;
}

.table-small-text tbody tr td {
  font-size: 11px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.table-xsmall-text tbody tr td {
  font-size: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.table-striped tbody tr:nth-child(odd) th,
.table-striped tbody tr:nth-child(odd) td,
.table-striped thead tr:nth-child(odd) th,
.table-striped thead tr:nth-child(odd) td {
  background-color: #d0d0d0;
}
.table-borderless tbody tr th,
.table-borderless tbody tr td {
  border-top: none;
  border-bottom: none;
}

.table-fixed-height tr {
  line-height: 275px;
}

.table-fixed-height td {
  vertical-align : middle;
}

.table-big-fixed-height tr {
  line-height: 640px;
}

.table-big-fixed-height td {
  vertical-align : middle;
}

.rb {
  background-color: #e67777;
}

.vertical-padding div{
  height: 25px;
}

.budget-font{
  font-size: 13px
}

.dont-break { page-break-inside: avoid; }
/*****-----------------------------------------------*/
/*	Pages
/*****-----------------------------------------------*/
.logo {
  max-height: 100px;
}
th div {
  font-weight: normal;
  margin-top: 1em;
}

.soil-map {
  max-height: 350px;
  max-width: 350px;
}

.eros-map {
  max-height: 250px;
  max-width: 250px;
  width: auto;
  height: auto;
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;  
}

.budget-map {
  max-height: 220px;
  max-width: 220px;
  width: auto;
  height: auto;
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;  
}

.aerial-map {
  max-height: 600px;
  max-width: 550px;
  width: 550px;
  height: auto;
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;  
}

.histogram {
  max-height: 220px;
  max-width: 260px;
  width: auto;
  height: auto;
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;  
}

.eros-legend {
  max-height: 220px;
}

.dem-legend {
  max-height: 220px;
  width: auto;
  height: auto;
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
}

.budget-legend {
  max-height: 150px;
}

/***** Homepage
/*-----------------------------------*/
/***** Fields
/*------------------------------------*/
